[submodule "faust"]
	path = faust
	url = https://github.com/grame-cncm/faust.git
[submodule "distingNT_API"]
	path = distingNT_API
	url = git@github.com:expertsleepersltd/distingNT_API.git
[submodule "distingnt_api"]
	path = distingnt_api
	url = git@github.com:expertsleepersltd/distingNT_API.git
